/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

h1,h2,h3,h4,p,a,.song-sheet>li{
   font-family: 'proxima-nova';
   -webkit-font-smoothing: antialiased;
   color: #fff;
}
h1,h2{
   text-transform: uppercase;
}
h1 {
font-weight: 100;
color: #fff;
letter-spacing: 5px;
font-size: 24px;
margin-bottom: 25px;
margin-top:30px;
}
h2{
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 800;
   letter-spacing: 10px;
}
h3{
   font-size: 12px;
   font-weight: 600;
}
.disco-carou{
   margin-bottom: 50px;
}
h4{
   font-size: 12px;
   color: #fff;
   vertical-align: text-bottom;
   display: inline-block;
}
a, a i{
   color: #fff;
}
a:hover, a i:hover{
   color: #99B6B8;
   transition: color ease .3s;
   -webkit-transition: color ease .3s;
   -moz-transition: color ease .3s;
   -o-transition: color ease .3s;
   text-decoration: none;
}
.center-block{
   margin: 0 auto;
}
.img-container{
   padding: 15px 0;
}
.col {margin:0 1%;}
p {
font-size: 16px;
font-weight: 100;
letter-spacing: 0px;
}
.slides{
   text-align: center;
}
body iframe#okplayer {
opacity: .5;
}
#form_contact2 label {
font-family: 'proxima-nova'!important;
font-size: 22px;
color: #fff;
font-weight: 600;
}
#background, #background iframe, #background_show, #bg-overlay {
top: 0;
bottom: 0;
left: 0;
right: 0;
display: block;
z-index: 0;
}

#background, #bg-overlay {
position: fixed;
}
#background{opacity: 0;}
div#bg-overlay {
opacity: .7;
background: rgb(175,175,175);
z-index: 0.5;
}
.bg, .about p, .contact .main{background: rgba(56, 56, 56, 0.85); padding: 25px;}
div#ajaxcontent * {
z-index: 2;
}
.album-title, .centered{
   text-align: center;
}
.atm{
   display: none;
}
div.frm_description {
color: #fff!important;
font-family: 'proxima-nova'!important;
}
.pager li>a, .pager li>span {
display: inline-block;
padding: 5px 14px;
background-color: transparent;
border: 2px solid #fff;
border-radius: 0px;
text-transform: uppercase;
}
#stop-player p {
margin-bottom: 0px;
background: transparent;
padding: 10px;
}
div#stop-player.btn{
   display: none!important;
   padding:0px!important;
}
/* ==========================================================================
   Header
   ========================================================================== */


.banner {background: rgba(0,0,0,1); }

header.navbar-default .navbar-nav>li>a {
text-transform: uppercase;
color: #fff;
font-size: 14px;
font-weight: 700;
padding: 10px;
}
a.navbar-brand {
width: 200px;
padding: 25px 0px;
}
header.banner.navbar.navbar-default.navbar-static-top {
position: fixed;
top: 0;
width: 100%;
border: 0px transparent;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, a:hover{
   -webkit-transition: all .4s;
   opacity: .6;
   color: #fff;
}

#social .floatright {
width: 100%;
}
/* ==========================================================================
   Home
   ========================================================================== */
div.frm_submit > input[type="submit"]:hover, .btn.btn-click:hover{
 color: rgba(255,255,255, 1) !important;
   transition: color ease .3s;
   -webkit-transition: color ease .3s;
   -moz-transition: color ease .3s;
   -o-transition: color ease .3s;
border-color: rgba(255,255,255, 1) !important;
transition: border-color ease .3s;
   -webkit-transition: border-color ease .3s;
   -moz-transition: border-color ease .3s;
   -o-transition: border-color ease .3s;
}
.btn.btn-click, div.frm_submit > input[type="submit"] {
font-family: 'proxima-nova'!important;
font-weight: 500!important;
color: #fff!important;
padding: 10px 10px!important;
border-color: rgba(255,255,255, .4)!important;
border: rgba(255,255,255, .4) solid 2px!important;
border-radius: 0px!important;
white-space: normal!important;
letter-spacing: 6px!important;
font-size: 14px!important;
display: inline-block!important;
clear: none!important;
white-space: normal!important;
background: transparent!important;
box-shadow: 0px 0px 0px!important;
text-transform: uppercase;
letter-spacing: 1px;
}

.btn-container{
   margin: 45px auto;
   width: 300px;
   text-align: center;
}


/* ==========================================================================
   Video
   ========================================================================== */

.vid-desc:hover {
opacity: 0.85;
}
.vid-desc {
position: relative;
top: 0px;
left: 0px;
text-align: center;
height: 100.5%;
display: block;
opacity: 1;
-webkit-transition: 500ms;
-moz-transition: 500ms;
transition: 500ms;
-webkit-box-shadow: inset 0px 0px 50px 5px rgba(0,0,0,0.6);
padding-bottom: 66%;
min-width: 215px;
height: 0px;
width: 100%;
}

.video .menu-blog.active, .videos .menu-blog.active{
   background: transparent!important;
}
.vid-desc h3 {
position: absolute;
opacity: 1;
bottom: 0;
width: 100%;
text-align: center;
}
.vid-thumb{
      height: 0;
      min-width: 215px;
      padding-bottom: 55%;
      width: 100%;
      margin-bottom: 50px;
   }
.vid-thumb.album-img{
   padding-bottom: 100%;
}
   .vid-thumb .fa {
font-size: 52px;
top: 50%;
position: absolute;
margin-top: -10%;
left: 50%;
margin-left: -5%;
}
.bg-white{
   background: rgba(255,255,255,.4);
   padding-top: 25px;
}
.vid-padding {
padding: 30px;
}
.no-click-full{
   pointer-events: all;
}
.no-click-mobile{
   pointer-events:none ;
}

/* ==========================================================================
   Content
   ========================================================================== */

.content {padding-bottom: 50px; padding-top: 50px; }

span.post-date, p.date {
float: left;
font-size: 12px;
color: #fff;
margin-top: 10px;
}
div.with_frm_style .frm_message, .frm_success_style {
border: 1px solid transparent;
background-color: transparent;
color: transparent;
}
/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }


 .fancybox-inner {
    -webkit-overflow-scrolling: touch !important;
    overflow: auto !important;
  }
/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

/* ==========================================================================
   Discography
   ========================================================================== */
a.js-wpv-pagination-next-link, a.js-wpv-pagination-previous-link{
position: absolute;
top: 50%;
font-size: 58px;
}
a.wpv-filter-next-link{
   right: -35px;
}
a.wpv-filter-previous-link{
   left: -35px;
}
.wpv-pagination, .wpv-pagination, .wpv-pagination-preload-images, .wpv-pagination-preload-pages {visibility: visible!important;}
a.disco-prev {
position: absolute;
right: -25px;
top: 25%;
font-size: 36px;
}
a.disco-next {
position: absolute;
left: -25px;
top: 25%;
font-size: 36px;
}
a.disco-next, a.disco-prev{
   z-index: 3!important;
}

.spotify-player > iframe {
margin: 0 auto;
position: relative;
display: block;
}
.more-albums{
   margin-top: 60px;
   text-align: center;
}
ul.more-album-nav {
list-style: none;
font-size: 54px;
width: 100%;
color: #fff;
}
li.nav-left {
position: absolute;
left: 0px;
}
li.nav-right {
position: absolute;
right: 0px;
}
.more-album-nav > li {
   z-index: 2;
top: 40%;
}
/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }


.blog-img {
width: 100%;
padding-bottom: 40%;
margin: 0 auto;
}
.blog-pad {
text-align: center;
}
.blog-box{
margin-bottom: 30px;
}
.borders.addthis_sharing_toolbox {
padding-top: 5px;
border-bottom: 2px #fff solid;
border-top: 2px #fff solid;
margin-bottom: 5px;
width: 100%;
height: 45px;
}
div#atstbx {
max-width: 300px;
}
.blog-info {
max-width: 100%;
text-align: left;
margin: 0 auto;
}
.blog-info h3 {
margin-top: 5px;
clear: left;
font-weight: 800;
text-transform: none;
}
.blog-info .date {
margin-bottom: 5px;
}
.post div#atstbx {
float: left;
margin-top: 10px;
}
.blog-info.bg {
padding: 10px;
min-height: 115px;
}
.addthis_sharing_toolbox {
height: 32px;
margin-left:-2px;
}
.entry-content h1.centered {
white-space: normal;
white-space: normal;
}
div#frm_form_2_container {
margin: 0 auto;
}
.about h2 {
margin-top: 75px;
}
.blog-info p, .entry-content p{
word-break: break-word;
}

body.news h2 {
  font-size: 20px;
}

/* ==========================================================================
   Photos
   ========================================================================== */
.img-pad{
   padding-bottom: 100%;
}
.insta-photo.col-sm-6.col-md-4.col-lg-3 {
padding: 20px;
}
ul.instagram-grid {
padding-left: 0px;
}


/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { background: rgba(0,0,0, .5); width: 100%; z-index: 2; }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

.topspin-widget.topspin-widget-email-for-media {
overflow: hidden;
display: inline-block;
margin-top: 10px;
position: relative;
background: transparent;
}
.floatright{
   text-align: center;
}
div#social {
padding-top: 30px;
}
#menu-socials,.credits{
   display: inline;
}
p.credits{
   font-size: 12px;
font-weight: 100;
background: transparent;
padding: 0px;
}
/* ==========================================================================
   Resources
   ========================================================================== */
li.song-sheet {
padding: 5px 0px;
background: rgba(56, 56, 56, 0.85);
padding: 8px 20px;
font-weight: 100;
letter-spacing: 2px;
}

.resource-title{
   margin-bottom: 50px;
}
ul.song-sheets {
padding-left: 0px;
list-style: none;
}
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }


/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
   font-family: 'flexslider-icon';
   src:url('fonts/flexslider-icon.eot');
   src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
      url('fonts/flexslider-icon.woff') format('woff'),
      url('fonts/flexslider-icon.ttf') format('truetype'),
      url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
   font-weight: normal;
   font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0; display: none;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute;top: 25%; z-index: 10; overflow: hidden; opacity: 1; cursor: pointer; color: rgba(255,255,255,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-next{ opacity: 0.7; right: 10px; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: FontAwesome; font-size: 40px; line-height:1; display: inline-block; content: '\f104'; }
.flex-direction-nav a.flex-next:before  { content: '\f105'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}
/*! fancyBox v2.1.5 fancyapps.com | fancyapps.com/fancybox/#license */
.fancybox-wrap,
.fancybox-skin,
.fancybox-outer,
.fancybox-inner,
.fancybox-image,
.fancybox-wrap iframe,
.fancybox-wrap object,
.fancybox-nav,
.fancybox-nav span,
.fancybox-tmp
{
   padding: 0;
   margin: 0;
   border: 0;
   outline: none;
   vertical-align: top;
}

.fancybox-wrap {
   position: absolute;
   top: 0;
   left: 0;
   z-index: 8020;
}

.fancybox-skin {
   position: relative;
   background: #f9f9f9;
   color: #444;
   text-shadow: none;
   -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
           border-radius: 4px;
}

.fancybox-opened {
   z-index: 8030;
}

.fancybox-opened .fancybox-skin {
   -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
      -moz-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
           box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
}

.fancybox-outer, .fancybox-inner {
   position: relative;
}

.fancybox-inner {
   overflow: hidden;
}

.fancybox-type-iframe .fancybox-inner {
   -webkit-overflow-scrolling: touch;
}

.fancybox-error {
   color: #444;
   font: 14px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
   margin: 0;
   padding: 15px;
   white-space: nowrap;
}

.fancybox-image, .fancybox-iframe {
   display: block;
   width: 100%;
   height: 100%;
}

.fancybox-image {
   max-width: 100%;
   max-height: 100%;
}

#fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
   background-image: url(fancybox_sprite.png);
}

#fancybox-loading {
   position: fixed;
   top: 50%;
   left: 50%;
   margin-top: -22px;
   margin-left: -22px;
   background-position: 0 -108px;
   opacity: 0.8;
   cursor: pointer;
   z-index: 8060;
}

#fancybox-loading div {
   width: 44px;
   height: 44px;
   background: url(fancybox_loading.gif) center center no-repeat;
}

.fancybox-close {
   position: absolute;
   top: -18px;
   right: -18px;
   width: 36px;
   height: 36px;
   cursor: pointer;
   z-index: 8040;
}

.fancybox-nav {
   position: absolute;
   top: 0;
   width: 40%;
   height: 100%;
   cursor: pointer;
   text-decoration: none;
   background: transparent url(blank.gif); /* helps IE */
   -webkit-tap-highlight-color: rgba(0,0,0,0);
   z-index: 8040;
}

.fancybox-prev {
   left: 0;
}

.fancybox-next {
   right: 0;
}

.fancybox-nav span {
   position: absolute;
   top: 50%;
   width: 36px;
   height: 34px;
   margin-top: -18px;
   cursor: pointer;
   z-index: 8040;
   visibility: hidden;
}

.fancybox-prev span {
   left: 10px;
   background-position: 0 -36px;
}

.fancybox-next span {
   right: 10px;
   background-position: 0 -72px;
}

.fancybox-nav:hover span {
   visibility: visible;
}

.fancybox-tmp {
   position: absolute;
   top: -99999px;
   left: -99999px;
   max-width: 99999px;
   max-height: 99999px;
   overflow: visible !important;
}

/* Overlay helper */

.fancybox-lock {
    overflow: visible !important;
    width: auto;
}

.fancybox-lock body {
    overflow: hidden !important;
}

.fancybox-lock-test {
    overflow-y: hidden !important;
}

.fancybox-overlay {
   position: absolute;
   top: 0;
   left: 0;
   overflow: hidden;
   display: none;
   z-index: 8010;
   background: url(fancybox_overlay.png);
}

.fancybox-overlay-fixed {
   position: fixed;
   bottom: 0;
   right: 0;
}

.fancybox-lock .fancybox-overlay {
   overflow: auto;
   overflow-y: scroll;
}

/* Title helper */

.fancybox-title {
   visibility: hidden;
   font: normal 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
   position: relative;
   text-shadow: none;
   z-index: 8050;
}

.fancybox-opened .fancybox-title {
   visibility: visible;
}

.fancybox-title-float-wrap {
   position: absolute;
   bottom: 0;
   right: 50%;
   margin-bottom: -35px;
   z-index: 8050;
   text-align: center;
}

.fancybox-title-float-wrap .child {
   display: inline-block;
   margin-right: -100%;
   padding: 2px 20px;
   background: transparent; /* Fallback for web browsers that doesn't support RGBa */
   background: rgba(0, 0, 0, 0.8);
   -webkit-border-radius: 15px;
      -moz-border-radius: 15px;
           border-radius: 15px;
   text-shadow: 0 1px 2px #222;
   color: #FFF;
   font-weight: bold;
   line-height: 24px;
   white-space: nowrap;
}

.fancybox-title-outside-wrap {
   position: relative;
   margin-top: 10px;
   color: #fff;
}

.fancybox-title-inside-wrap {
   padding-top: 10px;
}

.fancybox-title-over-wrap {
   position: absolute;
   bottom: 0;
   left: 0;
   color: #fff;
   padding: 10px;
   background: #000;
   background: rgba(0, 0, 0, .8);
}

/*Retina graphics!*/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
      only screen and (min--moz-device-pixel-ratio: 1.5),
      only screen and (min-device-pixel-ratio: 1.5){

   #fancybox-loading, .fancybox-close, .fancybox-prev span, .fancybox-next span {
      .topspin-widget.topspin-widget-email-for-media {
height: initial;
}
      background-image: url(fancybox_sprite@2x.png);
      background-size: 44px 152px; /*The size of the normal image, half the size of the hi-res image*/
   }

   #fancybox-loading div {
      background-image: url(fancybox_loading@2x.gif);
      background-size: 24px 24px; /*The size of the normal image, half the size of the hi-res image*/
   }
}

/*
 *    Core Owl Carousel CSS File
 * v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
.owl-item{
   padding: 10px;
}
/* display none until init */
.owl-carousel{
   display: none;
   position: relative;
   width: 100%;
   -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
   display: none;
   position: relative;
   -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
   overflow: hidden;
   position: relative;
   width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
   -webkit-transition: height 500ms ease-in-out;
   -moz-transition: height 500ms ease-in-out;
   -ms-transition: height 500ms ease-in-out;
   -o-transition: height 500ms ease-in-out;
   transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
   float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
   cursor: pointer;
}
.owl-controls {
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility:    hidden;
   -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
   ul.more-album-nav {
      display: none;
   }
   .wrap.container-fluid {
padding-top: 75px;
}
   ul.song-sheets {
-webkit-column-count: 3;
font-size: 18px;
padding-left: 0px;
margin-bottom: 75px;
}
   #social .floatright {
width: 65%;
float: right;
}
      .vid-thumb.album-img {
padding-bottom: 100%;
}
   .vid-thumb.album-img {
max-width: 380px;
}
   a.navbar-brand {
width: 225px;
}
header.navbar-default .navbar-nav>li>a {
font-size: 12px;
}
   a.disco-prev {
right: -15px;
}
a.disco-next {
left: -15px;
}
   .flex-direction-nav a {top:50%;}
   .blog-img {
max-width: 100%;
}
   .post div#atstbx {
float: right;
margin-top: 0px;
}
   .banner {background: rgba(0,0,0,.6); }
   p{
      font-size: 18px;
   }
   .home .vid-container {
      padding-top: 0px;
   }
   h2{
   font-size: 32px;
}
h3{
   font-size: 16px;
}
.marg-top {
margin-top: 17px;
}
   #okplayer {
display: block!important;
}
   header.banner.navbar.navbar-default.navbar-static-top {
position: fixed;
}
.logged-in.admin-bar .banner {
margin-top: 30px;
}
.content {padding-top: 0px; padding-bottom: 100px;}

   a.navbar-brand {
width: 90%;
}
.col { margin:0 5%; }
h1 {
font-size: 40px;
font-weight: 800;
letter-spacing: 26px;
line-height: 1;
}
ul#menu-primary-navigation {
margin-top: 10px;
width: 80%;
}
.navbar-header {
width: 20%;
}
.slide-pad{
   padding: 25px;
}
.no-click-full{
   pointer-events: none;
}
.no-click-mobile{
   pointer-events:all ;
}
.content-info {position: fixed; bottom: 0; width: 100%;}
div#bg-overlay {z-index: 1}

 }
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
div.topspin-widget.topspin-widget-email-for-media {
height: 75px;
}
footer h3{
   display: none;
}
div#social {
padding-top: 30px;
}

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
    
   div#stop-player.btn.btn-click{
   display: block!important;
}
div#stop-player p{
   font-size: 12px!important;
}
div#stop-player {
float: left;
margin-top: 4px;
white-space: normal!important;
width: 100%;
}
   .spotify-player > iframe {
   margin: 0;
   float: right;
}
 h1.centered {
   margin-top: 0px;
   margin-bottom: 80px;
   text-indent: 13px;
   white-space: nowrap;
}
.photography h1.centered {
margin-bottom: 50px;
}
a.navbar-brand {
padding: 19px 0px;
}
a.disco-prev {
right: 0px;
}
a.disco-next {
left: 0px;
}

      .vid-desc {opacity: 0; background: rgb(0,0,0);}
   .marg-top{
   margin-top: 17px;
}


div#social {
padding-top: 15px;
}
.topspin-widget.topspin-widget-email-for-media {
height: 32px;
}

/*Artist grayscale*/
.blog-img {
   -webkit-transition: -webkit-filter .4s ease;
     -moz-transition: -moz-filter .4s ease;
      -ms-transition: -ms-filter .4s ease;
          transition: -o-filter .4s ease, filter .4s ease;
          -webkit-filter: grayscale(50%);
         -moz-filter: grayscale(50%);
         -ms-filter: grayscale(50%);
         -o-filter: grayscale(50%);
         filter: grayscale(50%);
         filter: gray;
}

.blog-img:hover {
   -webkit-filter: grayscale(0%);
         -moz-filter: grayscale(0%);
         -ms-filter: grayscale(0%);
         -o-filter: grayscale(0%);
         filter: grayscale(0%);
         filter: none;
         filter: none;
}
.flex-direction-nav {
display: block;
}

body {background: url(http://stage.youngoceans.com/assets/img/bg.jpg); background-size: cover; background-attachment: fixed; }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
   #social .floatright {
width: 55%;
}
   ul#menu-primary-navigation {
margin-top: 10px;
width: 70%;
}
.navbar-header {
width: 30%;
}
.banner .col {
margin: 0 10%;
}
.album-title {
margin-bottom: 50px;
}
   .wrap.container-fluid {
max-width: 1180px;
padding-top: 50px;
}
.logged-in .wrap.container-fluid {
padding-top: 80px;
}
header.navbar-default .navbar-nav>li>a {
font-size: 16px;
}
a.disco-prev {
right: -25px;
}
a.disco-next {
left: -25px;
}
.discographies .content{
padding-top: 5%;
}

 }
 
 
 .sm2-bar-ui {
 position: relative;
 display: inline-block;
 width: 100%;
 font-family: helvetica, arial, verdana, sans-serif;
 font-weight: normal;
 /* prevent background border bleed */
 -webkit-background-clip: padding-box;
 background-clip: padding-box;
 /* because indeed, fonts do look pretty "fat" otherwise in this case. */
 -moz-osx-font-smoothing: grayscale;
 -webkit-font-smoothing: antialiased;
 /* http://files.christophzillgens.com/webkit-font-smoothing.html */
 /* font-smoothing: subpixel-antialiased; */
 /* general font niceness? */
 font-smoothing: antialiased;
 text-rendering: optimizeLegibility;
 min-width: 20em;
 max-width: 30em;
 /* take out overflow if you want an absolutely-positioned playlist dropdown. */
 border-radius: 2px;
 overflow: hidden;
 /* just for fun (animate normal / full-width) */
 transition: max-width 0.2s ease-in-out;
}

.sm2-bar-ui .sm2-playlist li {
 text-align: center;
 font-size: 92.5%;
 line-height: 1em;
}

.sm2-bar-ui.compact {
 min-width: 1em;
 max-width: 15em;
}

.sm2-bar-ui ul {
 line-height: 1em;
}

/* want things left-aligned? */
.sm2-bar-ui.left .sm2-playlist li {
 text-align: left;
}

.sm2-bar-ui .sm2-playlist li .load-error {
  cursor: help;
}

.sm2-bar-ui.full-width {
 max-width: 100%;
 z-index: 5;
}

.sm2-bar-ui.fixed {
 position: fixed;
 top: auto;
 bottom: 0px;
 left: 0px;
 border-radius: 0px;
 /* so the absolutely-positioned playlist can show... */
 overflow: visible;
 /* and this should probably have a high z-index. tweak as needed. */
 z-index: 999;
}

.sm2-bar-ui.fixed .bd,
.sm2-bar-ui.bottom .bd {
 /* display: table; */
 border-radius: 0px;
 border-bottom: none;
}

.sm2-bar-ui.bottom {
 /* absolute bottom-aligned UI */
 top: auto;
 bottom: 0px;
 left: 0px;
 border-radius: 0px;
 /* so the absolutely-positioned playlist can show... */
 overflow: visible;
}

.sm2-bar-ui.playlist-open .bd {
 border-bottom-left-radius: 0px;
 border-bottom-right-radius: 0px;
 border-bottom-color: transparent;
}

.sm2-bar-ui .bd,
.sm2-bar-ui .sm2-extra-controls {
 position: relative;
 background-color: #2288cc;
 /*
 transition: background 0.2s ease-in-out;
 */
}

.sm2-bar-ui .sm2-inline-gradient {
 /* gradient */
 position: absolute;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 background-image: -moz-linear-gradient(to bottom, rgba(255,255,255,0.125) 5%, rgba(255,255,255,0.125) 45%, rgba(255,255,255,0.15) 52%, rgba(0,0,0,0.01) 51%, rgba(0,0,0,0.1) 95%); /* W3C */
 background-image: linear-gradient(to bottom, rgba(255,255,255,0.125) 5%, rgba(255,255,255,0.125) 45%, rgba(255,255,255,0.15) 50%, rgba(0,0,0,0.1) 51%, rgba(0,0,0,0.1) 95%); /* W3C */
}

.sm2-bar-ui.flat .sm2-inline-gradient {
 background-image: none;
}

.sm2-bar-ui.flat .sm2-box-shadow {
 display: none;
 box-shadow: none;
}

.sm2-bar-ui.no-volume .sm2-volume {
 /* mobile devices (android + iOS) ignore attempts to set volume. */
 display: none;
}

.sm2-bar-ui.textured .sm2-inline-texture {
 position: absolute;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 100%;
 /* for example */
 /* background-image: url(../image/wood_pattern_dark.png); */
 /* additional opacity effects can be applied here. */
 opacity: 0.75;

}

.sm2-bar-ui.textured.dark-text .sm2-inline-texture {
 /* dark text + textured case: use light wood background (for example.) */
 /* background-image: url(../image/patterns/wood_pattern.png); */
}

.sm2-bar-ui.textured.dark-text .sm2-playlist-wrapper {
 /* dark text + textured case: ditch 10% dark on playlist body. */
 background-color: transparent;
}

.sm2-bar-ui.textured.dark-text .sm2-playlist-wrapper ul li:hover a,
.sm2-bar-ui.textured.dark-text .sm2-playlist-wrapper ul li.selected a {
 /* dark + textured case: dark highlights */
 background-color: rgba(0,0,0,0.1);
 background-image: url(../image/black-10.png);
 /* modern browsers don't neeed the image */
 background-image: none, none;
}

.sm2-bar-ui .bd {
 display: table;
 border-bottom: none;
}

.sm2-bar-ui .sm2-playlist-wrapper {
 background-color: rgba(0,0,0,0.1);
}

.sm2-bar-ui .sm2-extra-controls .bd {
 background-color: rgba(0,0,0,0.2);
}


.sm2-bar-ui.textured .sm2-extra-controls .bd {
 /* lighten extra color overlays */
 background-color: rgba(0,0,0,0.05);
}

.sm2-bar-ui .sm2-extra-controls {
 background-color: transparent;
 border: none;
}

.sm2-bar-ui .sm2-extra-controls .bd {
 /* override full-width table behaviour */
 display: block;
 border: none;
}

.sm2-bar-ui .sm2-extra-controls .sm2-inline-element {
 display: inline-block;
}

.sm2-bar-ui,
.sm2-bar-ui .bd a {
 color: #fff;
}

.sm2-bar-ui.dark-text,
.sm2-bar-ui.dark-text .bd a {
 color: #000;
}

.sm2-bar-ui.dark-text .sm2-inline-button {
 /* Warning/disclaimer: SVG might be fuzzy when inverted on Chrome, losing resolution on hi-DPI displays. */
 -webkit-filter: invert(1);
 /* SVG-based invert filter for Firefox */
 filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'invert\'><feColorMatrix in='SourceGraphic' type='matrix' values='-1 0 0 0 1 0 -1 0 0 1 0 0 -1 0 1 0 0 0 1 0'/></filter></svg>#invert");
 /* IE 8 inverse filter, may only match pure black/white */
 /* filter: xray; */
 /* pending W3 standard */
 filter: invert(1);
 /* not you, IE < 10. */
 filter: none\9;
}

.sm2-bar-ui .bd a {
 text-decoration: none;
}

.sm2-bar-ui .bd .sm2-button-element:hover {
 background-color: rgba(0,0,0,0.1);
 background-image: url(../image/black-10.png);
 background-image: none, none;
}

.sm2-bar-ui .bd .sm2-button-element:active {
 background-color: rgba(0,0,0,0.25);
 background-image: url(../image/black-25.png);
 background-image: none, none;
}

.sm2-bar-ui .bd .sm2-extra-controls .sm2-button-element:active .sm2-inline-button,
.sm2-bar-ui .bd .active .sm2-inline-button/*,
.sm2-bar-ui.playlist-open .sm2-menu a */{
 -ms-transform: scale(0.9);
 -webkit-transform: scale(0.9);
 -webkit-transform-origin: 50% 50%;
 /* firefox doesn't scale quite right. */
 transform: scale(0.9);
 transform-origin: 50% 50%;
 /* firefox doesn't scale quite right. */
 -moz-transform: none;
}

.sm2-bar-ui .bd .sm2-extra-controls .sm2-button-element:hover,
.sm2-bar-ui .bd .sm2-extra-controls .sm2-button-element:active,
.sm2-bar-ui .bd .active {
 background-color: rgba(0,0,0,0.1);
 background-image: url(../image/black-10.png);
 background-image: none, none;
}

.sm2-bar-ui .bd .sm2-extra-controls .sm2-button-element:active {
 /* box shadow is excessive on smaller elements. */
 box-shadow: none;
}

.sm2-bar-ui {
 /* base font size */
 font-size: 15px;
 text-shadow: none;
}

.sm2-bar-ui .sm2-inline-element {
 position: relative;
 display: inline-block;
 vertical-align: middle;
 padding: 0px;
 overflow: hidden;
}

.sm2-bar-ui .sm2-inline-element,
.sm2-bar-ui .sm2-button-element .sm2-button-bd {
 position: relative;
 /**
  * .sm2-button-bd exists because of a Firefox bug from 2000
  * re: nested relative / absolute elements inside table cells.
  * https://bugzilla.mozilla.org/show_bug.cgi?id=63895
  */
}

.sm2-bar-ui .sm2-inline-element,
.sm2-bar-ui .sm2-button-element .sm2-button-bd {
 /**
  * if you play with UI width/height, these are the important ones.
  * NOTE: match these values if you want square UI buttons.
  */
 min-width: 2.8em;
 min-height: 2.8em;
}

.sm2-bar-ui .sm2-inline-button {
 position: absolute;
 top: 0px;
 left: 0px;
 width: 100%;
 height: 100%;
}

.sm2-bar-ui .sm2-extra-controls .bd {
 /* don't double-layer. */
 background-image: none;
 background-color: rgba(0,0,0,0.15);
}

.sm2-bar-ui .sm2-extra-controls .sm2-inline-element {
 width: 25px; /* bare minimum */
 min-height: 1.75em;
 min-width: 2.5em;
}

.sm2-bar-ui .sm2-inline-status {
 line-height: 100%;
 /* how much to allow before truncating song artist / title with ellipsis */
 display: inline-block;
 min-width: 200px;
 max-width: 20em;
 /* a little more spacing */
 padding-left: 0.75em;
 padding-right: 0.75em;
}

.sm2-bar-ui .sm2-inline-element {
 /* extra-small em scales up nicely, vs. 1px which gets fat */
 border-right: 0.075em dotted #666; /* legacy */
 border-right: 0.075em solid rgba(0,0,0,0.1);
}

.sm2-bar-ui .sm2-inline-element.noborder {
 border-right: none;
}

.sm2-bar-ui .sm2-inline-element.compact {
 min-width: 2em;
 padding: 0px 0.25em;
}

.sm2-bar-ui .sm2-inline-element:first-of-type {
 border-top-left-radius: 3px;
 border-bottom-left-radius: 3px;
 overflow: hidden;
}

.sm2-bar-ui .sm2-inline-element:last-of-type {
 border-right: none;
 border-top-right-radius: 3px;
 border-bottom-right-radius: 3px;
}

.sm2-bar-ui .sm2-inline-status a:hover {
 background-color: transparent;
 text-decoration: underline;
}

.sm2-inline-time,
.sm2-inline-duration {
 display: table-cell;
 width: 1%;
 font-size: 75%;
 line-height: 0.9em;
 min-width: 2em; /* if you have sounds > 10:00 in length, make this bigger. */
 vertical-align: middle;
}

.sm2-bar-ui .sm2-playlist {
 position: relative;
 height: 1.45em;
}

.sm2-bar-ui .sm2-playlist-target {
 /* initial render / empty case */
 position: relative;
 min-height: 1em;
}

.sm2-bar-ui .sm2-playlist ul {
 position: absolute;
 left: 0px;
 top: 0px;
 width: 100%;
 list-style-type: none;
 overflow: hidden;
 white-space: nowrap;
 text-overflow: ellipsis;
}

.sm2-bar-ui p,
.sm2-bar-ui .sm2-playlist ul,
.sm2-bar-ui .sm2-playlist ul li {
 margin: 0px;
 padding: 0px;
}

.sm2-bar-ui .sm2-playlist ul li {
 position: relative;
}

.sm2-bar-ui .sm2-playlist ul li,
.sm2-bar-ui .sm2-playlist ul li a {
 position: relative;
 display: block;
 /* prevent clipping of characters like "g" */
 height: 1.5em;
 white-space: nowrap;
 overflow: hidden;
 text-overflow: ellipsis;
 text-align: center;
}

.sm2-row {
 display: table-row;
}

.sm2-progress-bd {
 /* spacing between progress track/ball and time (position) */
 padding: 0px 0.8em;
}

.sm2-progress .sm2-progress-track,
.sm2-progress .sm2-progress-ball,
.sm2-progress .sm2-progress-bar {
 position: relative;
 width: 100%;
 height: 0.65em;
 border-radius: 0.65em;
}

.sm2-progress .sm2-progress-bar {
 /* element which follows the progres "ball" as it moves */
 position: absolute;
 left: 0px;
 top: 0px;
 width: 0px;
 background-color: rgba(0,0,0,0.33);
 background-image: url(../image/black-33.png);
 background-image: none, none;
}

.volume-shade,
.playing .sm2-progress .sm2-progress-track,
.paused .sm2-progress .sm2-progress-track {
 cursor: pointer;
}

.playing .sm2-progress .sm2-progress-ball {
 cursor: -moz-grab;
 cursor: -webkit-grab;
 cursor: grab;
}

.sm2-progress .sm2-progress-ball {
 position: absolute;
 top: 0px;
 left: 0px;
 width: 1em;
 height: 1em;
 margin: -0.2em 0px 0px -0.5em;
 width: 14px;
 height: 14px;
 margin: -2px 0px 0px -7px;
 width: 0.9333em;
 height: 0.9333em;
 margin: -0.175em 0px 0px -0.466em;
 background-color: #fff;
 padding: 0px;
/*
 z-index: 1;
*/
 -webkit-transition: -webkit-transform 0.15s ease-in-out;
 transition: transform 0.15s ease-in-out;
}

/*
.sm2-bar-ui.dark-text .sm2-progress .sm2-progress-ball {
 background-color: #000;
}
*/

.sm2-progress .sm2-progress-track {
 background-color: rgba(0,0,0,0.4);
 background-image: url(../image/black-33.png); /* legacy */
 background-image: none, none; /* modern browsers */
}

/* scrollbar rules have to be separate, browsers not supporting this syntax will skip them when combined. */
.sm2-playlist-wrapper ul::-webkit-scrollbar-track {
 background-color: rgba(0,0,0,0.4);
}

.playing.grabbing .sm2-progress .sm2-progress-track,
.playing.grabbing .sm2-progress .sm2-progress-ball {
 cursor: -moz-grabbing;
 cursor: -webkit-grabbing;
 cursor: grabbing;
}

.sm2-bar-ui.grabbing .sm2-progress .sm2-progress-ball {
 -webkit-transform: scale(1.15);
 transform: scale(1.15);
}

.sm2-inline-button {
 background-position: 50% 50%;
 background-repeat: no-repeat;
 /* hide inner text */
 line-height: 10em;
 /**
  * image-rendering seems to apply mostly to Firefox in this case. Use with caution.
  * https://developer.mozilla.org/en-US/docs/Web/CSS/image-rendering#Browser_compatibility
  */
 image-rendering: -moz-crisp-edges;
 image-rendering: -webkit-optimize-contrast;
 image-rendering: crisp-edges;
 -ms-interpolation-mode: nearest-neighbor;
 -ms-interpolation-mode: bicubic;
}

.play-pause,
.play-pause:hover,
.paused .play-pause:hover {
 background-image: url(../image/icomoon/entypo-25px-ffffff/PNG/play.png);
 background-image: none, url(../image/icomoon/entypo-25px-ffffff/SVG/play.svg);
 background-size: 67.5%;
 background-position: 40% 53%;
}

.playing .play-pause {
 background-image: url(../image/icomoon/entypo-25px-ffffff/PNG/pause.png);
 background-image: none, url(../image/icomoon/entypo-25px-ffffff/SVG/pause.svg);
 background-size: 57.6%;
 background-position: 50% 53%;
}

.sm2-volume-control {
 background-image: url(../image/icomoon/entypo-25px-ffffff/PNG/volume.png);
 background-image: none, url(../image/icomoon/entypo-25px-ffffff/SVG/volume.svg);
}

.sm2-volume-control,
.sm2-volume-shade {
 background-position: 42% 50%;
 background-size: 56%;
}

.volume-shade {
 filter: alpha(opacity=33); /* <= IE 8 */
 opacity: 0.33;
/* -webkit-filter: invert(1);*/
 background-image: url(../image/icomoon/entypo-25px-000000/PNG/volume.png);
 background-image: none, url(../image/icomoon/entypo-25px-000000/SVG/volume.svg);
}

.menu {
 background-image: url(../image/icomoon/entypo-25px-ffffff/PNG/list2.png);
 background-image: none, url(../image/icomoon/entypo-25px-ffffff/SVG/list2.svg);
 background-size: 58%;
 background-position: 54% 51%;
}

.previous {
 background-image: url(../image/icomoon/entypo-25px-ffffff/PNG/first.png);
 background-image: none, url(../image/icomoon/entypo-25px-ffffff/SVG/first.svg);
}

.next {
 background-image: url(../image/icomoon/entypo-25px-ffffff/PNG/last.png);
 background-image: none, url(../image/icomoon/entypo-25px-ffffff/SVG/last.svg);
}

.previous,
.next {
 background-size: 49.5%;
 background-position: 50% 50%;
}


.sm2-extra-controls .previous,
.sm2-extra-controls .next {
 backgound-size: 53%;
}

.shuffle {
 background-image: url(../image/icomoon/entypo-25px-ffffff/PNG/shuffle.png);
 background-image: none, url(../image/icomoon/entypo-25px-ffffff/SVG/shuffle.svg);
 background-size: 45%;
 background-position: 50% 50%;
}

.repeat {
 background-image: url(../image/icomoon/entypo-20px-ffffff/PNG/loop.png);
 background-image: none, url(../image/icomoon/entypo-25px-ffffff/SVG/loop.svg);
 background-position: 50% 43%;
 background-size: 54%;
}

.sm2-extra-controls .repeat {
 background-position: 50% 45%;
}

.sm2-progress-ball .icon-overlay {
 position: absolute;
 width: 100%;
 height: 100%;
 top: 0px;
 left: 0px;
 background: none, url(../image/icomoon/free-25px-000000/SVG/spinner.svg);
 background-size: 72%;
 background-position: 50%;
 background-repeat: no-repeat;
 display: none; 
}

.playing.buffering .sm2-progress-ball .icon-overlay {
 display: block;
 -webkit-animation: spin 0.6s linear infinite;
 animation: spin 0.6s linear infinite;
}

@-webkit-keyframes spin {
 0% {
  -webkit-transform: rotate(0deg);
 }
 100% {
  -webkit-transform: rotate(360deg);
 }
}

@-moz-keyframes spin {
 0% {
  transform: rotate(0deg);
 }
 100% {
  transform: rotate(360deg);
 }
}

@keyframes spin {
 0% {
  transform: rotate(0deg);
 }
 100% {
  transform: rotate(360deg);
 }
}

.sm2-element ul {
 font-size: 95%;
 list-style-type: none;
}

.sm2-element ul,
.sm2-element ul li {
 margin: 0px;
 padding: 0px;
}

.bd.sm2-playlist-drawer {
 /* optional: absolute positioning */
 /* position: absolute; */
 z-index: 3;
 border-radius: 0px;
 width: 100%;
 height: 0px;
 border: none;
 background-image: none;
 display: block;
 overflow: hidden;
 transition: height 0.2s ease-in-out;
}

.sm2-bar-ui.fixed .bd.sm2-playlist-drawer,
.sm2-bar-ui.bottom .bd.sm2-playlist-drawer {
 position: absolute;
}

.sm2-bar-ui.fixed .sm2-playlist-wrapper,
.sm2-bar-ui.bottom .sm2-playlist-wrapper {
 padding-bottom: 0px;
}

.sm2-bar-ui.fixed .bd.sm2-playlist-drawer,
.sm2-bar-ui.bottom .bd.sm2-playlist-drawer {
 /* show playlist on top */
 bottom: 2.8em;
}

.sm2-bar-ui .bd.sm2-playlist-drawer {
 opacity: 0.5;
 /* redraw fix for Chrome, background color doesn't always draw when playlist drawer open. */
 transform: translateZ(0);
}

/* experimental, may not perform well. */
/*
.sm2-bar-ui .bd.sm2-playlist-drawer a {
 -webkit-filter: blur(5px);
}
*/

.sm2-bar-ui.playlist-open .bd.sm2-playlist-drawer {
 opacity: 1;
}

.sm2-bar-ui.playlist-open .bd.sm2-playlist-drawer a {
 -webkit-filter: none; /* blur(0px) was still blurred on retina displays, as of 07/2014 */
}

.sm2-bar-ui.fixed.playlist-open .bd.sm2-playlist-drawer .sm2-playlist-wrapper,
.sm2-bar-ui.bottom.playlist-open .bd.sm2-playlist-drawer .sm2-playlist-wrapper {
 /* extra padding when open */
 padding-bottom: 0.5em;
 box-shadow: none;
}

.sm2-bar-ui .bd.sm2-playlist-drawer {
 transition: all 0.2s ease-in-out;
 transition-property: transform, height, opacity, background-color, -webkit-filter;
}

.sm2-bar-ui .bd.sm2-playlist-drawer a {
 transition: -webkit-filter 0.2s ease-in-out;
}

.sm2-bar-ui .bd.sm2-playlist-drawer .sm2-inline-texture {
 /* negative offset for height of top bar, so background is seamless. */
 background-position: 0px -2.8em;
}

.sm2-box-shadow {
 position: absolute;
 left: 0px;
 top: 0px;
 width: 100%;
 height: 100%;
 box-shadow: inset 0px 1px 6px rgba(0,0,0,0.15);
}

.sm2-playlist-wrapper {
 position: relative;
 padding: 0.5em 0.5em 0.5em 0.25em;
 background-image: none, none;
}

.sm2-playlist-wrapper ul {
 max-height: 9.25em;
 overflow: auto;
}

.sm2-playlist-wrapper ul li {
 border-bottom: 1px solid rgba(0,0,0,0.05);
}

.sm2-playlist-wrapper ul li:nth-child(odd) {
 background-color: rgba(255,255,255,0.03);
}

.sm2-playlist-wrapper ul li a {
 display: block;
 padding: 0.5em 0.25em 0.5em 0.75em;
 margin-right: 0.5em;
 font-size: 90%;
 vertical-align: middle;
}

.sm2-playlist-wrapper ul li a.sm2-exclude {
 display: inline-block;
}

.sm2-playlist-wrapper ul li a.sm2-exclude .label {
 font-size: 95%;
 line-height: 1em;
 margin-left: 0px;
 padding: 2px 4px;
}

.sm2-playlist-wrapper ul li:hover a {
 background-color: rgba(0,0,0,0.20);
 background-image: url(../image/black-20.png);
 background-image: none, none;
}

.sm2-bar-ui.dark-text .sm2-playlist-wrapper ul li:hover a {
 background-color: rgba(255,255,255,0.1);
 background-image: url(../image/black-10.png);
 background-image: none, none;
}

.sm2-playlist-wrapper ul li.selected a {
 background-color: rgba(0,0,0,0.25);
 background-image: url(../image/black-20.png);
 background-image: none, none;
}

.sm2-bar-ui.dark-text ul li.selected a {
 background-color: rgba(255,255,255,0.1);
 background-image: url(../image/black-10.png);
 background-image: none, none; 
}

.sm2-bar-ui .disabled {
 filter: alpha(opacity=33); /* <= IE 8 */
 opacity: 0.33;
}

.sm2-bar-ui .bd .sm2-button-element.disabled:hover {
 background-color: transparent;
}

.sm2-bar-ui .active,
/*.sm2-bar-ui.playlist-open .sm2-menu,*/
.sm2-bar-ui.playlist-open .sm2-menu:hover {
 /* depressed / "on" state */
 box-shadow: inset 0px 0px 2px rgba(0,0,0,0.1);
 background-image: none;
}

.firefox-fix {
 /**
  * This exists because of a Firefox bug from 2000
  * re: nested relative / absolute elements inside table cells.
  * https://bugzilla.mozilla.org/show_bug.cgi?id=63895
  */
 position: relative;
 display: inline-block;
 width: 100%;
 height: 100%;
}

/* some custom scrollbar trickery, where supported */

.sm2-playlist-wrapper ul::-webkit-scrollbar {
 width: 10px;
}

.sm2-playlist-wrapper ul::-webkit-scrollbar-track {
 background: rgba(0,0,0,0.33);
 border-radius: 10px;
}
 
.sm2-playlist-wrapper ul::-webkit-scrollbar-thumb {
 border-radius: 10px;
 background: #fff;
}

.sm2-extra-controls {
 font-size: 0px;
 text-align: center;
}

.sm2-bar-ui .label {
 position: relative;
 display: inline-block;
 font-size: 0.7em;
 margin-left: 0.25em;
 vertical-align: top;
 background-color: rgba(0,0,0,0.25);
 border-radius: 3px;
 padding: 0px 3px;
 box-sizing: padding-box;
}

.sm2-bar-ui.dark-text .label {
 background-color: rgba(0,0,0,0.1);
 background-image: url(../image/black-10.png);
 background-image: none, none;
}

.sm2-bar-ui .sm2-playlist-drawer .label {
 font-size: 0.8em;
 padding: 0px 3px;
}

/* --- full width stuff --- */

.sm2-bar-ui .sm2-inline-element {
 display: table-cell;
}

.sm2-bar-ui .sm2-inline-element {
 /* collapse */
 width: 1%;
}

.sm2-bar-ui .sm2-inline-status {
 /* full width */
 width: 100%;
 min-width: 100%;
 max-width: 100%;
}

.sm2-bar-ui > .bd {
 width: 100%;
}

.sm2-bar-ui .sm2-playlist-drawer {
 /* re-hide playlist */
 display: block;
 overflow: hidden;
}
