/*!
 * Roots 6.5.0
 */


/* ==========================================================================
   Base
   ========================================================================== */

h1,h2,h3,h4,p,a{
   font-family: 'proxima-nova';
   -webkit-font-smoothing: antialiased;
   color: #fff;
}
h1,h2{
   text-transform: uppercase;
}
h1 {
font-weight: 100;
color: #fff;
letter-spacing: 5px;
font-size: 24px;
margin-bottom: 25px;
}
h2{
   text-transform: uppercase;
   font-size: 20px;
   font-weight: 800;
   letter-spacing: 10px;
}
h3{
   font-size: 20px;
   font-weight: 600;
}
.disco-carou{
   margin-bottom: 50px;
}
h4{
   font-size: 12px;
   color: #fff;
   vertical-align: text-bottom;
   display: inline-block;
}
a, a i{
   color: #fff;
}
a:hover, a i:hover{
   color: #99B6B8;
   transition: color ease .3s;
   -webkit-transition: color ease .3s;
   -moz-transition: color ease .3s;
   -o-transition: color ease .3s;
   text-decoration: none;
}
.center-block{
   margin: 0 auto;
}
.img-container{
   padding: 15px 0;
}
.col {margin:0 1%;}
p {
font-size: 16px;
font-weight: 100;
letter-spacing: 0px;
}
.slides{
   text-align: center;
}
body iframe#okplayer {
opacity: .5;
}
#form_contact2 label {
font-family: 'proxima-nova'!important;
font-size: 22px;
color: #fff;
}
#background, #background iframe, #background_show, #bg-overlay {
top: 0;
bottom: 0;
left: 0;
right: 0;
display: block;
z-index: 0;
}
div#bg-overlay {z-index: 1}
#background, #bg-overlay {
position: fixed;
}
#background{opacity: 0;}
div#bg-overlay {
opacity: .3;
background: rgb(175,175,175);
z-index: 0.5;
}
.bg, .about p, .contact .main{background: rgba(175,175,175,.4); padding: 25px;}
div#ajaxcontent * {
z-index: 2;
}
.album-title, .centered{
   text-align: center;
}
.atm{
   display: none;
}
div.frm_description {
color: #fff!important;
font-family: 'proxima-nova'!important;
}
.pager li>a, .pager li>span {
display: inline-block;
padding: 5px 14px;
background-color: transparent;
border: 2px solid #fff;
border-radius: 0px;
text-transform: uppercase;
}
/* ==========================================================================
   Header
   ========================================================================== */


.banner {background: rgba(0,0,0,1); }

header.navbar-default .navbar-nav>li>a {
text-transform: uppercase;
color: #fff;
font-size: 14px;
font-weight: 700;
padding: 10px;
}
a.navbar-brand {
width: 215px;
padding: 25px 0px;
}
header.banner.navbar.navbar-default.navbar-static-top {
position: fixed;
top: 0;
width: 100%;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus, a:hover{
   -webkit-transition: all .4s;
   opacity: .6;
   color: #fff;
}
#social .floatright {
width: 35%;
float: right;
}
/* ==========================================================================
   Home
   ========================================================================== */
div.frm_submit > input[type="submit"]:hover, .btn.btn-click:hover{
 color: rgba(255,255,255, 1) !important;
   transition: color ease .3s;
   -webkit-transition: color ease .3s;
   -moz-transition: color ease .3s;
   -o-transition: color ease .3s;
border-color: rgba(255,255,255, 1) !important;
transition: border-color ease .3s;
   -webkit-transition: border-color ease .3s;
   -moz-transition: border-color ease .3s;
   -o-transition: border-color ease .3s;
}
.btn.btn-click, div.frm_submit > input[type="submit"] {
font-family: 'proxima-nova'!important;
font-weight: 500!important;
color: #fff!important;
padding: 10px 10px!important;
border-color: rgba(255,255,255, .4)!important;
border: rgba(255,255,255, .4) solid 2px!important;
border-radius: 0px!important;
white-space: normal!important;
letter-spacing: 6px!important;
font-size: 14px!important;
display: inline-block!important;
clear: none!important;
white-space: normal!important;
background: transparent!important;
box-shadow: 0px 0px 0px!important;
text-transform: uppercase;
letter-spacing: 1px;
}

.btn-container{
   margin: 45px auto;
   width: 300px;
   text-align: center;
}


/* ==========================================================================
   Video
   ========================================================================== */

.vid-desc:hover {
opacity: 0.85;
}
.vid-desc {
position: relative;
top: 0px;
left: 0px;
text-align: center;
height: 100.5%;
display: block;
opacity: 1;
-webkit-transition: 500ms;
-moz-transition: 500ms;
transition: 500ms;
-webkit-box-shadow: inset 0px 0px 50px 5px rgba(0,0,0,0.6);
padding-bottom: 66%;
min-width: 215px;
height: 0px;
width: 100%;
}

.video .menu-blog.active, .videos .menu-blog.active{
   background: transparent!important;
}
.vid-desc h3 {
position: absolute;
opacity: 1;
bottom: 0;
width: 100%;
text-align: center;
}
.vid-thumb{
      height: 0;
      min-width: 215px;
      padding-bottom: 66%;
      width: 100%;
      margin-bottom: 50px;
   }
   .vid-thumb .fa {
font-size: 52px;
top: 50%;
position: absolute;
margin-top: -10%;
left: 50%;
margin-left: -5%;
}
.bg-white{
   background: rgba(255,255,255,.4);
   padding-top: 25px;
}
.vid-padding {
padding: 30px;
}
/* ==========================================================================
   Content
   ========================================================================== */

.content {padding-bottom: 50px; padding-top: 50px; }

span.post-date, p.date {
float: left;
font-size: 12px;
color: #fff;
margin-top: 10px;
}
div.with_frm_style .frm_message, .frm_success_style {
border: 1px solid transparent;
background-color: transparent;
color: transparent;
}
/* ==========================================================================
   Primary Content
   ========================================================================== */

.main { }

/* Gallery Shortcode */
.gallery-row { padding: 15px 0; }



/* ==========================================================================
   Sidebar
   ========================================================================== */

.sidebar { }

/* ==========================================================================
   Discography
   ========================================================================== */
a.js-wpv-pagination-next-link, a.js-wpv-pagination-previous-link{
position: absolute;
top: 50%;
font-size: 58px;
}
a.wpv-filter-next-link{
   right: -35px;
}
a.wpv-filter-previous-link{
   left: -35px;
}
.wpv-pagination, .wpv-pagination, .wpv-pagination-preload-images, .wpv-pagination-preload-pages {visibility: visible!important;}
a.disco-prev {
position: absolute;
right: -25px;
top: 25%;
font-size: 36px;
}
a.disco-next {
position: absolute;
left: -25px;
top: 25%;
font-size: 36px;
}
a.disco-next, a.disco-prev{
   z-index: 3!important;
}
.vid-thumb.album-img {
height: 380px;
}
.spotify-player > iframe {
margin: 0 auto;
position: relative;
display: block;
}
.more-albums{
   margin-top: 60px;
   text-align: center;
}
/* ==========================================================================
   Posts
   ========================================================================== */

.hentry header { }
.hentry time { }
.hentry .byline { }
.hentry .entry-content { }
.hentry footer { }


.blog-img {
width: 100%;
height: 300px;
margin: 0 auto;
}
.blog-pad {
text-align: center;
}
.blog-box{
   margin-bottom: 75px;
}
.borders.addthis_sharing_toolbox {
padding-top: 5px;
border-bottom: 2px #fff solid;
border-top: 2px #fff solid;
margin-bottom: 5px;
width: 100%;
height: 45px;
}
div#atstbx {
max-width: 300px;
}
.blog-info {
max-width: 100%;
text-align: left;
margin: 0 auto;
}
.blog-info h3 {
margin-top: 5px;
clear: left;
}
.blog-info .date {
margin-bottom: 5px;
}
.post div#atstbx {
float: left;
margin-top: 10px;
}
.blog-info.bg {
padding: 10px;
margin-bottom: 25px;
min-height: 115px;
}
/* ==========================================================================
   Photos
   ========================================================================== */
.img-pad{
   height: 250px;
   padding: 10px;
}
.insta-photo.col-sm-6.col-md-4.col-lg-3 {
padding: 20px;
}
ul.instagram-grid {
padding-left: 0px;
}


/* ==========================================================================
   Footer
   ========================================================================== */

.content-info { background: rgba(0,0,0, .5); width: 100%; z-index: 2; }

#social ul {margin:0px; padding:0px; list-style: none;}
#social li {margin:0px; padding: 0px list-style:none; display: block; float:left;}
#social li a {padding: 10px;}

.topspin-widget.topspin-widget-email-for-media {
overflow: hidden;
display: inline-block;
margin-top: 10px;
position: relative;
}
.floatright{
   text-align: center;
}
div#social {
padding-top: 30px;
}
#menu-socials,.credits{
   display: inline;
}
p.credits{
   font-size: 12px;
font-weight: 100;
background: transparent;
}
/* ==========================================================================
   WordPress Generated Classes
   See: http://codex.wordpress.org/CSS#WordPress_Generated_Classes
   ========================================================================== */

.aligncenter { display: block; margin: 0 auto; }
.alignleft { float: left; }
.alignright { float: right; }
figure.alignnone { margin-left: 0; margin-right: 0; }


/*
 * jQuery FlexSlider v2.2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */


/* Browser Resets
*********************************/
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
   font-family: 'flexslider-icon';
   src:url('fonts/flexslider-icon.eot');
   src:url('fonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
      url('fonts/flexslider-icon.woff') format('woff'),
      url('fonts/flexslider-icon.ttf') format('truetype'),
      url('fonts/flexslider-icon.svg#flexslider-icon') format('svg');
   font-weight: normal;
   font-style: normal;
}

/* FlexSlider Necessary Styles
*********************************/
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;}
html[xmlns] .slides {display: block;}
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}

/* FlexSlider Default Theme
*********************************/
.flexslider { margin: 0 0 60px; background: #fff; border: 4px solid #fff; position: relative; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2); -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2); -o-box-shadow: 0 1px 4px rgba(0,0,0,.2); box-shadow: 0 1px 4px rgba(0,0,0,.2); zoom: 1; }
.flex-viewport { max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; -o-transition: all 1s ease; transition: all 1s ease; }
.loading .flex-viewport { max-height: 300px; }
.flexslider .slides { zoom: 1; }
.carousel li { margin-right: 5px; }

/* Direction Nav */
.flex-direction-nav {*height: 0; display: none;}
.flex-direction-nav a  { text-decoration:none; display: block; width: 40px; height: 40px; margin: -20px 0 0; position: absolute;top: 25%; z-index: 10; overflow: hidden; opacity: 1; cursor: pointer; color: rgba(255,255,255,0.8); text-shadow: 1px 1px 0 rgba(255,255,255,0.3); -webkit-transition: all .3s ease; -moz-transition: all .3s ease; transition: all .3s ease; }
.flex-direction-nav .flex-prev { left: -50px; }
.flex-direction-nav .flex-next { right: -50px; text-align: right; }
.flexslider:hover .flex-next{ opacity: 0.7; right: 10px; }
.flexslider:hover .flex-prev { opacity: 0.7; left: 10px; }
.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover { opacity: 1; }
.flex-direction-nav .flex-disabled { opacity: 0!important; filter:alpha(opacity=0); cursor: default; }
.flex-direction-nav a:before  { font-family: FontAwesome; font-size: 40px; line-height:1; display: inline-block; content: '\f104'; }
.flex-direction-nav a.flex-next:before  { content: '\f105'; }

/* Pause/Play */
.flex-pauseplay a { display: block; width: 20px; height: 20px; position: absolute; bottom: 5px; left: 10px; opacity: 0.8; z-index: 10; overflow: hidden; cursor: pointer; color: #000; }
.flex-pauseplay a:before  { font-family: "flexslider-icon"; font-size: 20px; display: inline-block; content: '\f004'; }
.flex-pauseplay a:hover  { opacity: 1; }
.flex-pauseplay a.flex-play:before { content: '\f003'; }

/* Control Nav */
.flex-control-nav {width: 100%; position: absolute; bottom: -40px; text-align: center;}
.flex-control-nav li {margin: 0 6px; display: inline-block; zoom: 1; *display: inline;}
.flex-control-paging li a {width: 11px; height: 11px; display: block; background: #666; background: rgba(0,0,0,0.5); cursor: pointer; text-indent: -9999px; -webkit-border-radius: 20px; -moz-border-radius: 20px; -o-border-radius: 20px; border-radius: 20px; -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -o-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); box-shadow: inset 0 0 3px rgba(0,0,0,0.3); }
.flex-control-paging li a:hover { background: #333; background: rgba(0,0,0,0.7); }
.flex-control-paging li a.flex-active { background: #000; background: rgba(0,0,0,0.9); cursor: default; }

.flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.flex-control-thumbs img:hover {opacity: 1;}
.flex-control-thumbs .flex-active {opacity: 1; cursor: default;}

@media screen and (max-width: 860px) {
  .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
  .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}

/*
 *    Core Owl Carousel CSS File
 * v1.3.3
 */

/* clearfix */
.owl-carousel .owl-wrapper:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}
.owl-item{
   padding: 10px;
}
/* display none until init */
.owl-carousel{
   display: none;
   position: relative;
   width: 100%;
   -ms-touch-action: pan-y;
}
.owl-carousel .owl-wrapper{
   display: none;
   position: relative;
   -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper-outer{
   overflow: hidden;
   position: relative;
   width: 100%;
}
.owl-carousel .owl-wrapper-outer.autoHeight{
   -webkit-transition: height 500ms ease-in-out;
   -moz-transition: height 500ms ease-in-out;
   -ms-transition: height 500ms ease-in-out;
   -o-transition: height 500ms ease-in-out;
   transition: height 500ms ease-in-out;
}

.owl-carousel .owl-item{
   float: left;
}
.owl-controls .owl-page,
.owl-controls .owl-buttons div{
   cursor: pointer;
}
.owl-controls {
   -webkit-user-select: none;
   -khtml-user-select: none;
   -moz-user-select: none;
   -ms-user-select: none;
   user-select: none;
   -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* mouse grab icon */
.grabbing {
    cursor:url(grabbing.png) 8 8, move;
}

/* fix */
.owl-carousel  .owl-wrapper,
.owl-carousel  .owl-item{
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility:    hidden;
   -ms-backface-visibility:     hidden;
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

/* Extra small devices (phones, up to 480px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
   .vid-thumb.album-img {
max-width: 380px;
}
   a.navbar-brand {
width: 225px;
}
header.navbar-default .navbar-nav>li>a {
font-size: 12px;
}
   a.disco-prev {
right: -15px;
}
a.disco-next {
left: -15px;
}
   .flex-direction-nav a {top:50%;}
   .blog-img {
max-width: 100%;
}
   .post div#atstbx {
float: right;
margin-top: 0px;
}
   .banner {background: rgba(0,0,0,.6); }
   p{
      font-size: 18px;
   }
   .home .vid-container {
      padding-top: 0px;
   }
   h2{
   font-size: 32px;
}
h3{
   font-size: 22px;
}
.marg-top {
margin-top: 17px;
}
   #okplayer {
display: block!important;
}
   header.banner.navbar.navbar-default.navbar-static-top {
position: relative;
}
.content {padding-top: 0px; padding-bottom: 100px;}

   a.navbar-brand {
width: 90%;
}
.col { margin:0 5%; }
h1 {
font-size: 40px;
font-weight: 800;
letter-spacing: 26px;
line-height: 1;
}
ul#menu-primary-navigation {
margin-top: 10px;
width: 80%;
}
.navbar-header {
width: 20%;
}
.slide-pad{
   padding: 25px;
}

.content-info {position: fixed; bottom: 0; width: 100%;}
 }
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)  {
.topspin-widget.topspin-widget-email-for-media {
height: 50px;
}
div#social {
padding-top: 30px;
}

}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
   .spotify-player > iframe {
   margin: 0;
   float: right;
}
 h1.centered {
   margin-top: 0px;
   margin-bottom: 50px;
   text-indent: 13px;
   white-space: nowrap;
}
a.navbar-brand {
padding: 20px 0px;
}
a.disco-prev {
right: 0px;
}
a.disco-next {
left: 0px;
}

      .vid-desc {opacity: 0; background: rgb(0,0,0);}
   .marg-top{
   margin-top: 17px;
}
   .disco-slider {
height: 550px;
}

div#social {
padding-top: 15px;
}
.topspin-widget.topspin-widget-email-for-media {
height: 32px;
}

/*Artist grayscale*/
.blog-img {
   -webkit-transition: -webkit-filter .4s ease;
     -moz-transition: -moz-filter .4s ease;
      -ms-transition: -ms-filter .4s ease;
          transition: -o-filter .4s ease, filter .4s ease;
          -webkit-filter: grayscale(50%);
         -moz-filter: grayscale(50%);
         -ms-filter: grayscale(50%);
         -o-filter: grayscale(50%);
         filter: grayscale(50%);
         filter: gray;
}

.blog-img:hover {
   -webkit-filter: grayscale(0%);
         -moz-filter: grayscale(0%);
         -ms-filter: grayscale(0%);
         -o-filter: grayscale(0%);
         filter: grayscale(0%);
         filter: none;
         filter: none;
}
.flex-direction-nav {
display: block;
}
body { background: url(../img/bg.jpg) no-repeat; background-size: cover; background-attachment: fixed; }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
.album-title {
margin-bottom: 50px;
}
   .wrap.container-fluid {
max-width: 1180px;
padding-top: 50px;
}

header.navbar-default .navbar-nav>li>a {
font-size: 16px;
}
a.disco-prev {
right: -25px;
}
a.disco-next {
left: -25px;
}
.discographies .content{
padding-top: 5%;
}

 }
